/*=============================
		header section Starts
 =============================*/
 .header_menu .img-responsive{
 	margin: 20px auto 0;
	text-align: center;
	display: block;
	max-width: 400px;
 }
 .navbar-default .navbar-nav > li > a {
    color: #777;
    font-size: 14px;
}
.header_menu{
   background: #fff;
    padding:10px 0;
}
.header_menu .btn-group{
	text-align: right;
	display: block;
	margin-top: 22px;
}
.btn-group .dropdown-toggle{
background: #9c2020;

padding: 10px 11px 16px;

border-radius: 3px;
}
.btn-group  img{
	max-width:35px;
}
.header_menu .dropdown-menu .dropdown-item{
	color:#000;
	font-size: 15px;
	padding: 5px 23px;
	display: block;
	border-bottom: 1px dashed #ccc;


display: block;

border-bottom: 1px dashed #ccc;
}
.header_menu .navbar{margin:0 !important;
	border:inherit !important;
}
.header_menu .navbar-default{background-color: inherit !important;
	border-color:inherit !important;
}
.header_menu .navbar-collapse{
	margin-left: 60px;
	margin-top: 10px;
}
.header_menu .navbar-collapse ul li{
	color:#000;
	font-weight: bold;
	 font-size: 16px;
}
.btn{
	padding: 9px 24px;
}
.btn-info{
	padding: 10px 10px;
	margin-top: -57px;
	background: #9c2020;
	color: #fff;
	border: #000;
	border-radius: 12px;
	font-size: 18px;
	
}
.dropdown-menu{
	margin: 6px 8px 0;
}
.btn-info:hover {
    color: #fff;
    background: #000;
    border: #000;
}
/*=============================
		header section End
 =============================*/


 /*=============================
		Common section Start
 =============================*/
 .about_main p{
 	font-weight: bold;
	font-size: 20px;
	font-family: 'Open Sans', sans-serif;
 }
.slider{
	text-align: center;

}
.carousel-inner {
        display:block;
        max-height: 1000px;
        margin-top: 20px;
        border-style: solid;
        border-width: 5px;
        border-color: #fff;

    }
.carousel-control .glyphicon-chevron-left, .carousel-control .glyphicon-chevron-right, .carousel-control .icon-next, .carousel-control .icon-prev {
    width: 37px;
    height: 40px;
    margin-top: -10px;
    font-size: 30px;
    background: #000;
    padding: 5px 2px;
    font-size: 26px;
}
.carousel-control.right {
	background: none;
}
.carousel-control.left {
	background: none;
}
.bio h4{
	color: #000;
	background: #FFA500;
	padding: 10px 0;
	display: block;
	margin: 0;
	text-align: center;
}
.about_main{
	background: #e1ded7;
	text-align: center;
	padding: 30px 0;
}
.ser1{
	border: 5px solid #fff;
	padding: 10px;
	text-align:justify;
	box-shadow: 0 0 15px #302b2b;
	margin: 10px 0;

}
.ser1 h3{
	color: #db7d2c;
	text-align: center;
}
.ser1 p, .ser1 ul li{
   font-size: 16px;
	font-family: 'Open Sans', sans-serif;  
}

.ser_img {
	margin: 20px auto 0;
	text-align: center;
	display: block;
	max-width:400px;

}
.section3 img {
	
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 10px;
	width: 550px;
	

}

.section3 img:hover {
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}
.ser1 #text{
display:none;
}
.ser1 .read_more{
  margin: auto;
  height:44px;
  width:166.23px;
  
}
.ser2 #text1{
display:none;
}
.ser2 .read_more1{
  margin: auto;
  height:44px;
  width:166.23px;
  
}
.ser3 #text2{
display:none;
}
.ser3 .read_more2{
  margin: auto;
  height:44px;
  width:166.23px;
  
}
.ser1  a:focus, a:hover {
    color: #000;
}
.ser1 .dropdown-menu {
    position: absolute;
    top: 100%;
    left: 95px;
    min-width: 160px;
	padding: 0;
}

.ser1 .dropdown a{
	color: #000;
	text-decoration: none;
}
.ser1 .btn-danger {

    color: #fff;
    background-color: #eea236;
    border-color: #eea236;

}
.dropdown-menu > li > a:focus, .dropdown-menu > li > a:hover {
    color: #fff;
    text-decoration: none;
    background-color: #eea236;
}
.btn-primary:hover {
    border-color: #eea236;
}
.text {
    font-size: 12px;
    line-height: 20px;
    font-family: arial;
}

.text.short {
    height: 177px;
    overflow: hidden;
}
.text.full {
    
}
.read-more {
    cursor: pointer;
    display: inline-block;    
    font-weight: bold;
    padding: 3px;
    background-color: #eea236;
    color: white;
    margin: 2px;
}
.btn-group-sm  .btn, .btn-sm {
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px 10px;
}
/*=============================
		Common section End
 =============================*/
.panel-heading.active {
  background-color: #809fff;
}
.about h2{
	font-size: 38px;
	font-family: 'Open Sans', sans-serif;
	text-align:center;
}

.about p{
 font-size: 20px;
	font-family: 'Open Sans', sans-serif;
	text-align:justify;
}
.content{
	text-align: justify;
}
/*=============================
		footer section Start
 =============================*/
.footer_section{

    background:#000;
   
    
}

/*.footer_section ul{
   text-align: center;
}*/

.footer_section ul li a{
	color:#fff;

}
.f_sect p{
	color:#fff;
}
.f_contact h4{
	color:#fff;
	
}
.f_contact{
	padding: 20px 0;
}
.f_contact  p{
	color:#fff;
}
.f_menu{
	padding: 20px 0;
}
.f_menu a{
	color: #fff;
}
.f_menu h4{
	color: #fff;
}
.social{
	margin: 10px 0;
}
.social a{
	width: 30px;
	height: 30px;
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 50%;
	background: #ccc;
	color: #fff;

}
 /*=============================
		footer section End
 =============================*/
@media only screen and (max-width: 600px)  {

 .header_menu .img-responsive{
 	max-width: 280px;
 	margin-left: 8px;
}
.btn-info{
	font-size:16px;
	margin-left: 14px;
	margin-top: 10px;
}

.navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover {

    color: #fff;
    background-color: #000;

}
.ser1  .dropdown-menu > li > a {
    display: block;
    padding: 10px 25px;
    clear: both;
    font-weight: 405;
    line-height: 1.429;
    color: #777;
    white-space: nowrap;

}
.ser1 .dropdown-menu{
	float: left;
	min-width: 90px;
	padding: 0;
	margin: 0;
	font-size: 14px;
	text-align: left;
	list-style: none;
}

.ser1 .dropdown-menu {

    position: absolute;
    top: 82%;
    left: 68px;

}
}